extends ../layout/base 
block content 
	section.content-header 

	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Book Borrowing
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/book/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Id Buku
									input(type='text',value="#{data.no}",name='no',placeholder='Nama', autofocus).form-control
								.form-group
									label
										| No Telepon
									input(type='text',value="#{ (judul == undefined) ? data.judul : judul }",name='judul',placeholder='Judul').form-control
								.form-group
									label
										| Penerbit
									input(type='text',value="#{ (penerbit == undefined) ? data.penerbit : penerbit }",name='penerbit',placeholder='Penerbit').form-control
								.form-group
									label
										| Tanggal Pinjam
									input(type='text',value="#{ (tanggal_pinjam == undefined) ? data.tanggal_pinjam : tanggal_pinjam }",name='tanggal_pinjam',placeholder='Tanggal Pinjam').form-control
								.form-group
									label
										| No Kartu
									input(type='text',value="#{ (no_kartu == undefined) ? data.no_kartu : no_kartu }",name='no_kartu',placeholder='No Kartu').form-control
								.form-group
									label
										| Tanggal Kembali
									input(type='text',value="#{ (tanggal_kembali == undefined) ? data.tanggal_kembali : tanggal_kembali }",name='tanggal_kembali',placeholder='Tanggal Kembali').form-control
								.form-group
									label
										| Status
									input(type='text',value="#{ (status == undefined) ? data.status : status }",name='status',placeholder='status').form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/book').btn.btn-primary.pull-right
									| Back